/installed.xml
/indra/bin
/indra/bin-rel
/indra/bin-release
/LICENSES
/LICENSE-*
/bin
/bin-release
/indra/newview/res-sdl/
/indra/viewer-*
/indra/newview/vivox-runtime/
/libraries/
*.pyc
*.orig
*.rej
*.bak
*~
/edited-files.txt
qtcreator-build/
CMakeLists.txt.user
.DS_Store
.svnignore